<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title ?? 'Preview' }}</title>
    <style>
        .preview-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            padding-left: 16px;
            padding-right: 16px;
        }
    </style>
</head>
<body>
<div class="preview-container">
{{ preview | raw }}
</div>
</body>
</html>